# Automation Studio 4 & 6 Template .gitignore file
# The .gitignore file must be stored in the same folder as the .apj file. If not, adapt the starting "/" to the actual structure of the repository.

# Ignore AR versions as those are not considered part of the project
/AS/System/

# Ignore build results
/Binaries/

# Ignore debugging configurations (Watch,...)
/Diagnosis/**

# Optional: Keep watch and task trace files – uncomment to include them in Git
#!/Diagnosis/**/
#!/Diagnosis/**/*.PVM
#!/Diagnosis/**/*.tc

# Ignore standard temp folder
/Temp/

# Ignore upgrades as those are not considered part of the project source code
/Upgrades/

# Ignore user settings file
/*.set
# Include all the safety related .set files - all the .set files in the Physical folder
!/Physical/**/*.set

# Ignore is-open indication
/*.isopen

# Ignore all archive files within the project directory
*.zip
*.tar
*.7z
# Safety
# Nothing related to safety will be ignored. Always check everything in, if changes were made.

# Ignore debug logs
/*/debug.log

# Ignore Conversion logs (AS2 to AS3)
/ConvertLog.txt

# Ignore temp files
*~
~*
*.[Bb]ak
*.[Oo]rig
*.$$$
*.[Tt][Ee][Mm][Pp]
*.[Tt][Mm][Pp]
*.[Ss]wp

# Ignore Windows/macOS system files
[Tt]humbs.db
[Dd]esktop.ini
*.DS_Store
$RECYCLE.BIN/

# Ignore more stuff to your liking
# ...
 